<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Image Zoom on Mouse Hover Demo</title>
		<link href="https://www.cssscript.com/demo/sticky.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="image_style.css" />
		<script src="image_script.js" defer></script>
	</head>
	<body>
		<h1>Image Zoom on Mouse Hover Demo</h1>
		<div style="margin:2rem auto"><div id="carbon-block"></div>
    </div>
		<p>A small script that allows you to zoom into an image upon hovering the mouse over it.</p>
		<div id="container">
			<img src="https://images.unsplash.com/photo-1582769923195-c6e60dc1d8dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" alt="purple kitty"/>
		</div>

	</body>
</html>
